

<app-header titulo="Grid y Rows"></app-header>

<ion-content padding fullscreen>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>

          <ion-header>
            <ion-card-subtitle>Subtitulo</ion-card-subtitle>
            <ion-card-title>Titulo</ion-card-title>
          </ion-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ut quisquam impedit.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
